:root {
	--color-primary: #dfe3e6;
	--color-secondary: #6b808c;
	--color-surface: #39c071;
	--color-white: #fff;
	--color-black: #000;

	--container-extra: calc(1200px - 10px);
}

*,
*:before,
*:after {
	box-sizing: border-box;
	vertical-align: top;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.1875;
}

html,
body {
	background-image: url('https://i.ibb.co/bbrD2Mc/background.jpg');
	background-size: cover;
	min-height: 100vh;
}

.container_extra {
	max-width: 100%;
	padding: 20px;
	/* overflow-x: scroll; */
}

.filled {
	width: 100%;
}
