:root {
	--color-primary: #dfe3e6;
	--color-secondary: #6b808c;
	--color-white: #fff;
	--color-black: #000;

	--container-extra: calc(1200px - 10px);
}

html,
body {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	background-image: url('https://i.ibb.co/bbrD2Mc/background.jpg');
	background-size: cover;
	min-height: 100vh;
}

.container_extra {
	max-width: var(--container-extra);
	padding: 20px;
}
