.paper {
	width: 272px;
	border-radius: 3px;
	padding: 12px;
	box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
	margin-bottom: 8px;
}

.paper_primary {
	background-color: var(--color-primary);
}

.paper_secondary {
	background-color: var(--color-white);
}

.paper_sm {
	min-height: 35px;
	padding: 0;
}

.paper_md {
	min-height: 43px;
}
