.paragraph {
	font-family: 'Montserrat';
	font-style: normal;
}

.paragraph_sm {
	font-size: 0.8125rem;
	font-weight: 400;
}

.paragraph_md {
	font-size: 0.8125rem;
	font-weight: 700;
}

.paragraph_primary {
	color: var(--color-black);
}

.paragraph_secondary {
	color: var(--color-secondary);
}

.paragraph_secondary {
	color: var(--color-secondary);
}

.paragraph_surface {
	color: var(--color-white);
}
