.paragraph {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
}

.paragraph_sm {
	font-size: 0.8125rem;
}

.paragraph_primary {
	color: var(--color-black);
}

.paragraph_secondary {
	color: var(--color-secondary);
}
